.single_gallery_item {
	text-align: center !important;
}

.product-img {
	border: 1px solid #b8b8b8;
	border-collapse: collapse;
	max-height: 250px;
	min-height: 250px;
	display: flex;
}

.product-img img {
	flex: 1.3344;
	margin: 1px 0px;
}

.footer_area {
	text-align: center !important;	
}

.product-description .cart-submit {
	margin-top: 30px;
    background-color: #ff084e;
    border: medium none;
    color: #fff;
    font-size: 14px;
    height: 40px;
    text-transform: uppercase;
    width: 150px;
    cursor: pointer;
    border-radius: 0;
    display: inline-block !important;
}